.bottom {
  position:absolute;
  bottom: 0;
}

img.center {
    display: block;
    margin: 0 auto;
}

.background {opacity: 0.95;}

#bg_icon {opacity: 0.65;}
#bg_icon_shadow {opacity: 0.35;}

.real-step.future {opacity: 0.51;}

