.bottom {
  position:absolute;
  bottom: 0;
}

.top_rel{
	position: relative;
	top: 50px;
}

img.center {
  display: block;
  margin: 0 auto;
}

.right {
	float:right;
  position:relative;
  right: 0px;
}

.bottom_rel{
	position: relative;
	bottom: 0px;
}

.background {opacity: 0.95;}

#bg_icon {opacity: 0.55;}
#bg_icon_shadow {opacity: 0.35;}

.real-step.future {opacity: 0.01;}

.blau {
  color: cornflowerblue;
}

span{border-color:#FFFFFF}